.popup__form {
  margin-top: 27px;
}

.form__input-error_active {
  color: rgba(255, 0, 0, 1);
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}